name: Deployment pipeline

on: push

jobs: 
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: registry.carp.dk
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build and push Docker image
        run: |
          docker build -t registry.carp.dk/carp/carp-docs:latest .
          docker push registry.carp.dk/carp/carp-docs:latest
